body
{
    margin: auto;
    padding: auto;
}

.box
{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.box img
{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 40px;
}

.box h1
{
    float: right;
    color: darkolivegreen;
    font-size: 40px;
    margin-right: 60px;
    margin-top: 70px;
}

.container
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container form
{
    margin: auto;
    padding: auto;
}

.container input
{
    border-radius: 10px;
    border-color: olive;
    margin-top: 50px;
    width: 300px;
}