body
{
    background-color: #d2b48c;
    margin: 0px;
    padding: 0px;
}
.nav-bar
{
    background-color: #a0522d;
    opacity: 80%;
    text-align: right;
    padding: 10px;
}

nav ul
{
    list-style-type: none;
    text-align: right;
    
}

nav li
{
    display: inline;
    padding: 10px;
    font-size: 20px;
    
}

a
{
    text-decoration: none;
    color: #d6d6d6;
}

a:hover
{
    color: #d2b48c;
}


h1
{
    color: #d6d6d6;
    text-align: center;
    font-family:Geneva;
    font-size: 40px; 
}

.home
{
    background-image: url("images/coffee-g5577820e5_1920.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

caption
{
    color: #ae3730;
    text-align: center;
    font-family:Geneva;
    font-size: 30px; 
    font-style: italic;
    font-weight: bold;

}

thead
{
    color: #d6d6d6;
    text-align: justify;
    font-family:Geneva;
    font-size: 20px; 
    padding: 20px;
    background-color: #a0522d;

}

table,td,th
{
    border-style: solid;
    border-color: #ae3730;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 10px;
}

td,th
{
    padding: 15px;
    text-align: center;
    width: 15%;
    
}
.foot
{
    background-color: #a0522d;
    padding: 2px;
    text-align: center;
    color: #d6d6d6;
    font-size: 20px;
}