body
{
    background-color: #d2b48c;
    margin: 0px;
    padding: 0px;
}
.nav-bar
{
    background-color: #a0522d;
    opacity: 80%;
    text-align: right;
    padding: 10px;
    

}

nav ul
{
    list-style-type: none;
    text-align: right;
    
}

nav li
{
    display: inline;
    padding: 10px;
    font-size: 20px;
    
}

a
{
    text-decoration: none;
    color: #d6d6d6;
}

a:hover
{
    color: #d2b48c;
}

blockquote
{
    text-align: center;
    color: #ae3730;
    font-style: italic;
    font-weight: bold;
}

.linking a
{
    text-decoration: underline;
    color: #d2b48c;
}
.linking a:hover
{
    color: brown;
    text-decoration: underline;
}
h1
{
    color: #ae3730;
    text-align: center;
    font-family:Geneva;
    font-size: 40px; 
    margin: 0px;
    
}
h2
{
    color: #ae3730;
    text-align: left;
    font-family:Geneva;
    font-size: 25px;
}

h3
{
    color: #ae3730;
    text-align: left;
    font-family:Geneva;
    font-size: 20px;
}

h4
{
    color: #ae3730;
    text-align: left;
    font-family:Geneva;
    font-size: 18px;
}

hr
{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: #ae3730;
}

ul
{
    list-style-type: square;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    text-align: justify;
}


#set1
{
    background-image: url("images/coffee-beans-g1f39833fe_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 0px;
    padding: 0px;
    
}

.p
{
    color: white;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    
}

.foot
{
    background-color: #a0522d;
    padding: 2px;
    text-align: center;
    font-size: 20px;
}

.foot blockquote
{
    color: #d6d6d6;
    font-style: normal;
    font-weight: normal;
}

